@charset "UTF-8";
@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SF-Pro-Display-Regular.woff2") format("woff2"),
    url("/fonts/SF-Pro-Display-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "SF Pro Display", sans-serif;
}

.breadcrumb {
  font-size: 13px;
  color: #999;
}

.breadcrumb a {
  font-size: 13px;
  color: #999;
  text-decoration: none;
}

.breadcrumb span {
  margin: 0 5px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
}

.meta {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 13px;
  color: #555;
}

.tag {
  background-color: #ffeded;
  color: #d40000;
  font-size: 12px;
  padding: 2px 8px;
  border-radius: 5px;
  font-weight: bold;
}
.tag-img {
  width: 1rem;
  position: relative;
  top: 3px;
}
.meta i {
  margin-right: 4px;
}

.underline {
  width: 40%;
  height: 3px;
  border: none;
  background-color: #dddddd;
  margin: 20px 0;
}

.box-content {
  max-width: 1200px;
  margin: 20px auto;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.content {
  width: 70%;
}

.content img {
  width: 100%;
  margin: 16px 0;
  border-radius: 8px;
}
.img-footer {
  position: relative;
  top: 0.5rem;
}
.content p {
  line-height: 1.7;
  text-align: justify;
  margin-bottom: 16px;
  color: #333;
  font-size: 16px;
}

.content h3,
.content h4 {
  margin-top: 24px;
  margin-bottom: 12px;
  color: #222;
}

.content ul {
  padding-left: 20px;
  margin-bottom: 16px;
}

.content ul li {
  margin-bottom: 8px;
  line-height: 1.6;
}

.article {
  width: 30%;
}

.article-content {
  background-color: #fff;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease;
  margin-bottom: 20px;
  margin-top: 20px;
  cursor: pointer;
  width:100%;
}

.article-content:hover {
  transform: translateY(-4px);
}

.article-content img {
  width: 100%;
  height: auto;
  border-radius: 6px;
  margin-bottom: 10px;
}

.tag-acrticle {
  display: inline-block;
  background-color: #fff6ed;
  color: #c4320a;
  font-size: 12px;
  padding: 4px 10px;
  border-radius: 4px;
  font-weight: bold;
  margin-bottom: 8px;
}

.article-content h2 {
  font-size: 16px;
  color: #222;
  margin: 8px 0;
  line-height: 1.4;
  font-weight: 600;
}

.article-content p {
  font-size: 14px;
  color: #555;
  line-height: 1.6;
  margin: 8px 0;
}

.meta-acrticle {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 12px;
  color: #777;
  margin-top: 10px;
}
.meta-acrticle img {
  width: 1rem;
  position: relative;
  top: 13px;
}
.article-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-wrap: nowrap;
}

.dropdown {
  display: none;
  border: 1px solid #ddd;
  background-color: white;
  border-radius: 5px;
  padding: 6px;
  position: absolute;
  top: 90px;
  right: 100px;
  width: 200px;
  z-index: 999;
}

.dropdown a {
  color: black;
  display: block;
  margin-top: 10px;
  padding: 10px;
  font-weight: bold;
  text-decoration: none;
}

.dropdown a:hover {
  color: black;
  background-color: gainsboro;
}

.dropdownResponsive {
  display: none;
  border: 1px solid #ddd;
  background-color: white;
  border-radius: 5px;
  padding: 6px;
  position: absolute;
  top: 90px;
  right: 0px;
  width: 100%;
  z-index: 999;
}

.dropdownResponsive a {
  color: black;
  display: block;
  margin-top: 10px;
  padding: 10px;
  font-weight: bold;
  text-decoration: none;
}

.dropdownResponsive a:hover {
  color: black;
  background-color: gainsboro;
}

.show {
  display: block;
}

.menu-icon {
  display: none;
  cursor: pointer;
}
.menu-icon img {
  width: 2rem;
}

/* Responsive: màn hình tối đa 820px (Tablet) */
@media (max-width: 820px) {
  main{
    flex-direction: column;
  }

  .content{
    width:100%
  }

  .article-list{
    flex-direction: row;
    gap:20px;
    flex-wrap: wrap;
  }
  .article{
    width:100%
  }

  .article-content{
    width:40%;
  }
  /* Ẩn menu và thanh bên phải */
  .menu,
  .right {
    display: none;
  }

  /* Hiển thị biểu tượng menu */
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  /* Logo căn dịch sang trái */
  .logo img {
    position: relative;
    right: 5rem;
  }

  /* Icon trái/phải */
  #left,
  #right {
    width: 32px;
    height: 32px;
  }

  #left {
    position: relative;
    top: 25px;
    left: 20px;
  }

  #right {
    position: relative;
    bottom: 10px;
    right: 20px;
  }

  /* Footer */
  .column-mid {
    order: 3;
    margin-left: 20px;
  }

  .end {
    display: none;
  }
}

/* Responsive: màn hình tối đa 375px (Mobile) */
@media (max-width: 375px) {
  body {
    font-size: 0.75rem;
  }

  main{
    flex-direction: column;
  }

  .content{
    width:100%
  }

  .article-list{
    flex-direction: row;
    gap:20px;
    flex-wrap: wrap;
  }
  .article{
    width:100%
  }

  .article-content{
    width:50%;
  }
  .menu,
  .right {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .logo img {
    position: relative;
    right: 5rem;
  }

  #content {
    font-size: 0.75rem;
    line-height: 1.4;
  }

  #left,
  #right {
    width: 32px;
    height: 32px;
  }

  #left {
    position: relative;
    top: 25px;
    left: 20px;
  }

  #right {
    position: relative;
    bottom: 10px;
    right: 20px;
  }

  /* Footer */
  .footer-top h4 {
    font-size: 13px;
  }

  .footer-top img {
    margin-bottom: 1rem;
  }

  .footer-column {
    flex-basis: 100%;
  }

  .column-mid {
    order: 2;
    margin: 0;
  }

  .column-end {
    order: 3;
  }

  .end {
    display: block;
  }
}
